.Book_mainBox{
    text-align: center;
}
.searchBox img{
    position : absolute;
    margin-top: 65px;
    margin-left: 20px;
    width: 55px;
}

#searchBox{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    width: 800px;
    height: 79px;

    border-radius: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: #A0136A;

    margin-top: 50px;
    margin-bottom: 70px;
}

input:focus {outline: 1px solid #d849a1;}

.recent{
    margin-bottom: 68px;
}

#nic_text {
    width: 1000px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.col{
    width: 550px;
    height: 190px;
    background-size: 400px;
    margin: 20px;
    margin-top: -15px;
    display: flex; /* Flex container로 설정 */
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}

.col img{
    border-color: #adadad;
    border-style: solid;
    border-width: 1px;
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소인 .col에 맞춤 */
    max-height: 100%; /* 이미지의 최대 높이도 부모 요소에 맞춤 */
}

.col:hover{
    cursor: pointer;
}

.container1{
    width: 80%;
}
