.search_result{
    font-size: 20px;
    text-align: left;
    margin-left: 35px;
    margin-top: 50px;
}

#search_text{
    font-size: 25px;
    font-weight: 600;
}

.how_range{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 35px;
}

.how_range p{
    margin-right: 20px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}

.how_range p:hover{
    color: #A0136A;
}

#line{
    background-color: #A0136A;
    height: 2px;
    margin: 0 35px 0 35px;
}

/**/
.company_box{
    margin-top: 50px;
    clear: both;
    margin-bottom: 10px;
    display: flex; 
    flex-direction: column; justify-content: center;
}

.company_info{
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.co1{
    width: 370px;
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.co1 img{
    height: 390px;
    width: 350.5px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #FAE5F2;
    border-width: 1.5px;
}

#com_name{
    font-weight: 600;
    font-size: 25px;
}

#com_info {
    border-style: solid;
    border-color: #B33E86;
    text-align: left;
    width: 350px;
    height: 170px;
    padding: 10px;
    margin-bottom: 30px;
}

/*전화번호랑 예약하기*/
#num_but{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    overflow: hidden;
}

#b_but{
    margin-left: 27px;
    border: none;
    color: white;
    background-color: #A0136A;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 700px;
    padding: 12px;
}

#b_but:hover{
    background-color: #b8257f;
}

#not_search{
    font-size: 16px;
    margin-bottom: 50px;
}
#not_search_text {
    font-weight: 600;
}