@font-face {
  /* CSS에서는 경로를 지정할 때 슬래시(/)를 사용*/
  font-family: 'NanumBarunGothic';
  src: url('../fonts/NanumBarunGothic.eot');
  src: url('../fonts/NanumBarunGothic.eot') format('embedded-opentype'),
    url('../fonts/NanumBarunGothic.woff') format('woff');
}

* {
  font-family: 'NanumBarunGothic', san-serif;
}

.Navbar {
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  cursor: pointer;
  width: 200px;
  height: 70px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 30px 30px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px 30px 30px;
  position: absolute;
  margin: 0px;
  top: 10px;
  right: 15px;
  background-color: transparent;
  z-index: 9;
}

.hidden-header {
  display: none;
}

.Navbar ul {
  display: flex;
  white-space: nowrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Navbar ul li {
  font-weight: bold;
  font-size: 17px !important;
  cursor: pointer;
  display: inline;
  border-left: 2px solid #808080;
  padding: 0 10px;
  /* 좌우 여백 10px */
  color: #808080;
}

.Navbar ul li.active {
  color: black;
}

.Navbar li:hover,
.Navbar li:focus {
  color: black;
}

.Navbar li:first-child {
  border-left: none;
}

.mypage {
  display: flex;
  width: 100%;
}

.Mypage-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Mypage-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Mypage-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Mypage-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .logo img {
    width: 150px;
    height: 50px;
  }

  header {
    margin: 10px 15px 15px 15px;
  }

  .Navbar ul li {
    padding: 0 5px;
  }

  .mypage {
    flex-direction: column;
  }
}