.agree {
    border: none;
    border-radius: 8px;
    background-color: #A0136A;
    color: white;
    width: 10%;
    height: 38px;
    margin-right: 8px;
    margin-left: 30.5%;
    margin-top: 15px;
    font-size: larger;
    font-weight: 500;
    font-family: NAnumBarunGothic;

  }
  .reject{
    border: none;
    border-radius: 8px;
    background-color: #A0136A;
    color: white;
    width: 10%;
    height: 38px;
    margin-left: 8px;
    font-size: larger;
    font-weight: 500;
    font-family: NAnumBarunGothic;
  }

  .btnbox{
    margin-bottom: 50px;
  }
  .fixed_page{
    display: none;
  }
  .inform_btn{
    margin-left: 30%;
  }

.infromation2{
  width: 160px;
}
.infromation4{
  padding-left: 0%;
}

.infromation_R{
  width: 18%;
  text-align: left;
}