.waiting{
    width: 130px;
    height: 65px;
    background-color: #A0136A;
    color: white;
    text-align: center;
    font-family: NanumBarunGothic;
    font-size: larger;
    padding-top: 18px;
    margin-left: 1px;
    margin-top: 11px;
}

.wationgBox{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.colPage2{
    display: flex;
    font-size: 23px;
    font-weight: bold;
    margin-right: 0%;
    padding-left: 0%;
}
.rowline{
    border-bottom: 1.5px solid #808080;
    margin-left: 0%;
}

.title1{
    padding-left: 4%;
}
.title4{
    margin-left: 2%;
}
.title5{
    padding-left: 5%;
}