@font-face {
  /* CSS에서는 경로를 지정할 때 슬래시(/)를 사용*/
  font-family: 'NanumBarunGothic';
  src: url('./fonts/NanumBarunGothic.eot');
  src: url('./fonts/NanumBarunGothic.eot') format('embedded-opentype'),
    url('./fonts/NanumBarunGothic.woff') format('woff');
}

* {
  font-family: 'NanumBarunGothic', san-serif;
}